{% extends 'base.html.twig' %}

{% block title %}{{ 'templates.user_security.reset_password_request.title'|trans }}{% endblock %}

{% block body %}
    <div class="security-form card">
        <div class="card-body">
            <div class="d-flex flex-column text-center">
                <h1 class="h3 my-2">{{ 'templates.user_security.reset_password_request.h1'|trans }}</h1>
                <p class="mb-3 small">{{ 'templates.user_security.reset_password_request.subtitle'|trans }}</p>
            </div>

            {% for label, messages in app.flashes %}
                <div class="alert alert-{{ label }}" role="alert">
                    {% for message in messages %}
                        <p class="mb-0">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endfor %}

            {{ form_start(form) }}
                {{ form_row(form.email) }}
                <button class="w-100 btn btn-lg btn-primary text-uppercase" type="submit">
                    {{ 'templates.user_security.reset_password_request.submit'|trans }}
                </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
